
.wrapper {
    margin-top: 2em;
    width: 80%;
    max-width: 550px;
    margin: 2em auto 0;
}

.form-title {
    margin-bottom: .7em;
}

.form-label {
    margin-top: .7em;
    margin-bottom: .3em;
}

fieldset {
    margin-top: 2em;
}

.form-legend {
    margin-bottom: .75em;
}

.form-legend + .form-group > .form-label:first-child {
    margin-top: 0;
}

.option-group {
    margin-top: 2em;
}

.form-actions {
    padding-top: 1em;
    border-top: 1px solid #eee;
    margin-top: 1em;
    margin-bottom: 2em;
    font-weight: 200;
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: none;
    background-image: url("bilder/rickandmorty.png");
    background-position: "center";
    background-attachment: fixed;
    background-size: cover;
    color:black;

}
.images{
    width:100%;
    height: 100%;
}

.button-images{
    width:40px;
    height:40px;
    background-color:transparent;
}
.button {
    background-color: transparent;
    border: none;
    color: transparent;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:40px;
    height:40px;
}

